@import url(http://fonts.googleapis.com/css?family=Roboto);

/*********** GENERIC **************/

*, html, body {
  font-family: 'Roboto', sans-serif;
}

.center {
  text-align: center;
}

.bg-red {
  color: #D03C16;
}
.bg-yellow{
  color: #FFCC00;
}
.bg-blue{
  color: #064260;
}

h1{
  font-size: 30px;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
}
h4{
  font-size: 1.4em;
}


/*********** Login **************/

body.login img.logo {
  margin-top: 100px;
}

.gray-bg {
  background-color: #F6F6F6;
}

.center-div {
  float: none;
  margin: 0 auto;
}

.fields-form {
  width: 250px;
  margin: auto;
}

.input-form {
  width: 250px;
  border-radius: 0px;
  height: 36px;
  border: 1px solid #939393;
}

.error-login {
  display: none;
  text-align: left;
  font-weight: bold;
  float: left;
}

.checkbox-label {
  font-weight: 300;
  color: #064260;
  float: left;
  display: block;
  margin: 5px 0px;
  width: 100%;
  text-align: left;
}

.checkbox-form {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 0px;
  margin-right: 5px !important;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

span.no-logout-text {
  position: relative;
  left: -60px;
  top: 5px;
}

.form-actions {
  width: 170px;
  margin: 0 auto;
}

.submit-form-button {
  background-color: #D03C16;
  border-color: #D03C16;
  width: 100%;
  border-radius: 0px;
  -webkit-transition: background-color 0.5s; 
  -moz-transition: background-color 0.5s; 
  -o--transition: background-color 0.5s; 
  transition: background-color 0.5s;
  margin: 10px 0px;
}
.submit-form-button:hover {
  background-color: #ED5411;
  border-color: #ED5411;
}

.need-help {
  float: right;
  font-size: 0.9em;
  color: #064260;
}

.login-footer {
  margin-top: 150px;
}
.login-footer a, .login-footer h2 {
  color: #7D7D7D;
}

/************* HEADER **********/

header, footer {
  background-color: #F6F6F6;
}

header h1 {
  color: #D03C16;
}

header{
  padding-top: 10px;
}

.logo img {
  width: 140px;
  margin-top: 25px;
}

a.session-name {
  color: #D03C16;
  text-decoration: none;
}

.list-icons{
  list-style: none;
  font-size: 1.5em;
  margin: 20px 0px 10px 8px;
  padding: 0;
  color: white;
}
.list-icons li{
  display: inline;
  background-color: #FFCC00;
  padding: 8px;
  border-radius: 50%;
  margin-right: 5px;
}
.list-icons li i {
  width: 23px;
  height: 40px;
  text-align: center;
}

.logout-inmenu {
  display: none !important;
}

a.logout i {
  background-color: #D03C16;
  padding: 3px 3px 3px 5px;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  color: white;
}

a.logout{
  color: #D03C16;
  float: right;
}
a.logout:hover{
  text-decoration: none;
  color: #064260;
}
a.logout:hover i{
  background-color: #064260;
}

#nav-mobile{
  display: none;
  float: right;
  position: absolute;
  right: 12px;
  top:12px;
}
#nav-mobile.nav-active{
  opacity: 1;
}

#menu li a{
  display: block;
}

.menu-div {
  padding-left: 15px;
  position: static;
}

.menu-ul {
  list-style: none;
  padding: 0px;
}

.menu-ul .active {
  color: #D03C16;
}

.menu-ul li {
  display: inline-block;
  border-right: 1px solid #DE8169;
  color: #064260;
  font-size: 1.5em;
  padding: 0 35px;
  text-align: left;
}
.menu-ul li:first-child {
  padding: 0 35px 0 0;
}
.menu-ul li:last-child, .menu-ul li.last-border {
  border-right: none;
  padding-right: 0px;
}

.menu-ul a {
  -o-transition: color 0.5s; 
  -moz-transition: color 0.5s; 
  -webkit-transition: color 0.5s; 
  transition: color 0.5s;
  color: #064260;
  line-height: 26px;
  letter-spacing: 1.5px;
}
.menu-ul a:hover {
  color: #D03C16;
  text-decoration: none;
}

/************* FOOTER **********/

.main-footer h3, .main-footer a{
  color: #7D7D7D;
}

.main-footer {
  padding: 10px 0;
  text-align: center;
  margin-top: 15px;
}

.main-footer .social a li {
  display: inline;
  background-color: #FFCC00;
  padding: 6px;
  color: white;
}
.main-footer .social a:hover li {
  background-color: #7c7c7c;
}

/************* HOME **********/

.separator-bar {
  padding: 5px 64px;
  margin-top: 15px;
}
.separator-bar h2 {
  color: white;
  margin: 0;
}
.separator-bar i{
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  margin-right: 15px;
  width: 35px;
  text-align: center;
}

#yellow-bar {
  background-color: #FFCC00;
}

#red-bar {
  background-color: #D03C16;
}

.sub-container {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

.news_image img {
  width: 160px;
  height: 160px;
  margin-top: 20px;
}

.news_texts {
  padding-left: 30px;
}
.news_texts h3 a{
  color: #FFCC00;
}
.news_texts h3 a:hover{
  color: #064260;
  text-decoration: none;
}
.news_texts p {
  font-size: 1.2em;
}

.calendar-subdiv li {
  list-style: none;
}

.calendar-subdiv ul {
  padding: 0px;
}

.calendar-subdiv h3 {
  color: #064260;
}

.calendar-subdiv h4 {
  color: #D03C16;
}

.calendar-subdiv i.fa-gift {
  font-size: 27px;
}

.alumnos {
  margin-left: 30px;
}

.calendar-subdiv i.icon-pencil {
  background-color: #D03C16;
  padding: 5px;
  border-radius: 50%;
  width: 24px;
  text-align: center;
  color: white;
  font-size: 16px;
}


/*************PERFIL************/

#blue-bar {
  background-color: #064260;
}

.profile_image img {
  width: 90px;
  height: 90px;
  margin-top: 20px;
}

.profile_info ul {
  list-style: none;
  padding: 0px;
  color: #064260;
  font-size: 1.5em;
  line-height: 31px;
}

.profile_texts ul {
  list-style: none;
  padding: 0px;
  font-size: 1.3em;
  line-height: 31px;
}
.profile_texts ul li i {
  float: right;
  margin-right: 200px;
  line-height: 19px;
  font-size: 0.7em;
  background-color: #FFCC00;
  color: white;
  border-radius: 50%;
  padding: 0px 4px;
  margin-top: 8px;
  height: 20px;
}

.profile_info, .profile_texts {
  margin-top: 20px; 
}

.profile-row {
  border-bottom: 1px solid #D65635;
}

.profile-title {
  padding-left: 15px;
}

.classmates-list {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  -o-columns: 3;
  font-size: 1.3em;
  padding-left: 15px;
  list-style: none;
}



/******************CDC****************/

.message-actions-button {
  color: white;
  font-size: 1.4em;
  border: none;
  width: 260px;
  height: 45px;
  text-align: left;
  margin-top: 20px;
  padding-left: 15px;
}

#new-msg-button {
  background-color: #D03C16;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#new-msg-button:hover {
  background-color: #ED5411;
}

#reply-msg-button {
  background-color: #7D7D7D;
  margin-left: -2px;
  webkit-transition: background-color 0.5s; 
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#reply-msg-button:hover {
  background-color: #D03C16;
}

.message-tabs {
  width: 25%;
  background-color: #72C7DD;
  color: white;
  border-right: 1px solid #064260;
}

.message-tabs a {
  color: white;
  border-radius: 0px !important;
  border: none !important;
  margin: 0px !important;
  webkit-transition: background-color 0.5s; 
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  font-size: 1.4em;
}

.nav>li>a {
  padding: 7.5px 15px;
}

.message-tabs a:hover {
  background-color: #064260 !important;
  color: white !important;
}

#message-ul-tabs {
  border: none;
  margin-top: 25px;
}

.last-tab {
  border: none;
}

#message-ul-tabs .active a {
  background-color: #064260;
  color: white;
  border: none;
}

#message-ul-tabs .active a:hover {
  background-color: #064260 !important;
}

.message-info-bar {
  background-color: #F0F0EE;
  margin: 15px 0 0 0 !important;
}

.message-info-bar h4 {
  font-size: 1.2em;
  color: #064260;
}

.message-checkbox-column h4 {
  display: inline-block;
}

.message-time-column {
  text-align: right;
  border-right: 1px solid #064260;
}

.message-info-bar i.fa-exclamation,
.message-info-bar i.fa-caret-square-o-right {
  display: inline;
  border-radius: 50%;
  font-size: 1.3em;
  color: white;
}
.message-info-bar i.fa-exclamation{
  background-color: #7D7D7D;
  padding: 5px 11px 5px 11px;
  margin-right: 10px;
}
.message-info-bar i.fa-caret-square-o-right {
  background-color: #064260;
  padding: 5px 9px 5px 9px;
  position: relative;
  top: 9px;
  left:6px;
}

.message-checkbox-column i.fa-exclamation.new-inbox {
  background-color: #D03C16;
}

a.read-msg {
  color: #064260;
  text-decoration: underline;
  float: right
}

.message-text-div p {
  padding-left: 5px;
  margin-top: 10px;
  font-size: 1.1em;
}

.tab-content {
  margin-bottom: 120px;
}

.modal-content textarea:focus, .modal-content input:focus{
  outline: 0;
}

.modal-blue-header, .modal-blue-footer {
  background-color: #064260;
  padding: 10px !important;
}

.modal-blue-header h4 {
  color: white;
  font-size: 1.2em;
}

.modal-type h4 {
  font-size: 1.2em;
  color: #064260;
  display: inline-block;
}

.modal-inputs-div {
  padding: 0;
}

.modal-inputs-div input[type=text] {
  height: 50px;
  width: 100%;
  border: none;
  font-size: 1.2em;
  color: #064260;
  padding: 15px;
}

.subject-input input[type=text] {
  width: 75% !important;
}

.subject-input h4 {
  display: inline-block;
  padding-left: 10px;
  font-size: 1.2em;
  color: #064260;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #064260;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #064260;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #064260;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #064260;
}

.modal-body {
  padding: 0;
}

.modal-body textarea {
  width: 100%;
  min-height: 250px;
  border: none;
  padding: 15px;
  font-size: 1.2em;
  color: #064260;
}

.send-modal-button {
  float: left;
}

.modal-footer-buttons {
  background-color: white !important;
  border-radius: 0px !important;
  color: #064260 !important;
}

#messageModal form {
  margin: 0px;
}

.attach-hidden {
  display: none !important;
}

input[type=checkbox], input[type=radio] {
  display:none;
}
 
input[type=checkbox] + label,
input[type=radio] + label
{
background-image: url("../images/checkbox.jpg");
height: 20px;
width: 20px;
display:inline-block;
padding: 0 0 0 0px;
margin-right: 10px;
}
input[type=checkbox]:checked + label,
input[type=radio]:checked + label
{
background-position: right;
display:inline-block;
padding: 0 0 0 0px;
}

.label-checkbox {
  margin-left: 17px;
}
.label-radio {
  margin-left: 27px;
}

.name-people {
  vertical-align: middle;
}

.alert-success-msg{
  background-color: #61ac38;
  color: white;
  border-radius: 0;
  padding: 7px;
  margin: 0;
}
.alert-success-msg .close{
  background-color: white;
  color: #61ac38;
  opacity: 1;
  padding: 0px 3px;
}

/**************Inasistencias**************/

.absences-tabs {
  width: 25%;
  background-color: #7D7D7D;
  color: white;
  border-right: 1px solid #064260;
}

.absences-tabs a {
  color: white;
  border-radius: 0px !important;
  border: none !important;
  margin: 0px !important;
  padding: 5px 15px !important;
  -webkit-transition: background-color 0.5s; 
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.absences-tabs a:hover {
  background-color: #D03C16 !important;
  color: white !important;
}

#absences-ul-tabs {
  border: none;
  margin-top: 25px;
}

#absences-ul-tabs .active a {
  background-color: #D03C16;
  color: white;
  border: none;
}

#absences-ul-tabs .active a:hover {
  background-color: #D03C16 !important;
}

.abseces-date-select {
  font-size: 1.2em;
  color: #064260;
  margin-top: 15px;
}

.abseces-date-select label {
  padding-right: 10px; 
  font-weight: 300;
}

.abseces-date-select select {
  background-color: white;
  border: 1px solid #064260;
}

.absences-days ul {
  list-style: none;
  padding-left: 15px;
  margin-top: 15px;
  font-size: 1.2em;
  color: #064260;
}

.absences-days .absent {
  color: #D03C16;
}

.absences-days .first-li {
  color: #B4E1ED;
}

/* MARGINS & PADDINGS */
.p-xxs {
  padding: 5px;
}
.p-xs {
  padding: 10px;
}
.p-sm {
  padding: 15px;
}
.p-m {
  padding: 20px;
}
.p-md {
  padding: 25px;
}
.p-lg {
  padding: 30px;
}
.p-xl {
  padding: 40px;
}
.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
.space-15 {
  margin: 15px 0;
}
.space-20 {
  margin: 20px 0;
}
.space-25 {
  margin: 25px 0;
}
.space-30 {
  margin: 30px 0;
}


/*********** BOOTSTRAP ******************/

.modal .modal-dialog {
  position: fixed;
  bottom: 0;
  right: 10px;
  margin: 0;
}

body.modal-open {
  overflow: auto;
}

/*********** MEDIA QUERIES **************/

@media (max-width: 1200px){
  .menu-ul li {
    font-size: 1.3em;
    padding: 0 15px;
  }
  .menu-ul li:first-child{
    padding: 0 15px 0 0
  }
  header h1 {
    font-size: 28px;
  }
  .news_texts{
    padding-left: 60px
  }
  
  .profile_texts ul {
    font-size: 1.2em;
  }
  .profile_info ul {
    font-size: 1.4em;
  }
}
@media (max-width: 992px){
  header h1 {
    font-size: 25px;
  }
  .logout-txt{
    display: none;
  }
  .list-icons{
    font-size: 1.3em
  }
  .list-icons li{
    padding: 5px;
  }
  .news_texts{
    padding-left: 85px
  }
  h4.subject-msg {
    display: none;
  }
  .message-info-bar i.fa-caret-square-o-right {
    left: -8px;
  }
  
  .profile_texts ul li i{
    margin-right: 0px;
  }
  .classmates-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    -o-columns: 2;
    }
}

@media (min-width: 768px){
  .admin-txt:before{
    content: "Administrativo"
  }
}

@media (max-width: 768px){
  header .container {
    margin-top: 50px;
  }
  .logo img {
    width: 100px;
  }
  .logout-inmenu {
    display: block !important;
  }
  a.logout {
    display: none;
  }
  .menu-ul li:first-child {
    padding: 0 15px;
  }
  .menu-ul br {
    display: none;
  }
  #nav-mobile{ 
    display: block; 
  }
  #nav-mobile i {
    font-size: 1.8em;
    color: #064260;
  }
  .menu-ul li {
    border: 0;
    height: 40px;
  }
  #menu{
    width: 100%;
    float: none;
    padding-top: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    height: 50px;
  }
  #menu ul{
    max-height: 0;
    overflow: hidden;
  }
  /* estilos para los LI del menu */
  #menu li{
      background: #f8f8f8;
      float: none;
  }
  /* Quitamos el borde del ultimo item del menú */
  #menu li:last-child{ border-bottom: 0;}

  #menu li a{
      padding: 15px;
      height: auto;
      line-height: normal;
      font-size: 17px;
  }
  #menu li a:hover{
      background-color: #e7e7e7;
      
  }
  #menu li {
    display: block;
  }
  /* Agregamos una animación al despligue del menú */
  #menu ul.open-menu{
      max-height: 400px;
      transition: max-height .4s;
      border-bottom: 1px solid #e7e7e7;
  }
  
  .news_image {
    text-align: center;
  }
  .news_texts {
    padding: 0;
    text-align: center;
  }
  
  .message-tabs {
    width: 50%;
  }
  .message-tabs.directs{
    border: 0;
  }
  .message-tabs a{
    font-size: 1.1em;
  }
  .message-time-column{
    float: left;
    border: 0;
  }
  .media-button{
    float: right;
  }
  
  .absences-tabs {
    width: 50%;
  }
  .absences-tabs:last-child, .son2 {
    border: 0;
  }
  
  .admin-txt:before{
    content: "Admin."
  }
}